<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="InstallerPanel" Language="1033" Version="0.0.1.0" Manufacturer="Comgas" UpgradeCode="d5a3c9f2-4b3a-4f2e-8a2e-0b9a1e2c3f4b">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed."/>
    <MediaTemplate/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="InstallerPanel"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmpInstallerPanelExe" Guid="a1b2c3d4-e5f6-47ab-89cd-0123456789ab">
        <File Source="..\publish\win-x64\InstallerPanel.exe" KeyPath="yes"/>
        <File Source="..\publish\win-x64\installer.version"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="InstallerPanel" Level="1">
      <ComponentRef Id="cmpInstallerPanelExe"/>
    </Feature>
  </Product>
</Wix>
